body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0px;
    background-color: bisque;
} 

.subtitle{
font-size: larger;
}

.underoverskriftH2{
    font-weight: bold;
}
h1.title{
    font-weight: bolder;
}
#marsrover{
    margin-left: 0px;
} 
.body1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 40px;
    background-color: rgb(255, 255, 255);
} 

/* NY CSS FOR INDEX*/ 
.wrapper{
    display: grid;
    grid-template-columns: 30px auto 40px;
    grid-auto-rows: minmax(100px, auto);
}
.mainbox{
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 40px;
}
@media(min-width: 700px) {
    #meny {
        display: flex;
        position: fixed;
        width: auto;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 0px;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background-color: brown;
        width: 100vw;
    }
    #meny > li {
        padding-right: 4rem;
        list-style-type: none;
    }
    #meny > li > a {
        text-decoration: none;
        color: white;
    }
    #meny > li > a:hover {
        font-weight: bold;
    }
}